body{
    margin: 0;
    font-family: 'Poppins';
    background: #242121;
}

:root{
    --red: #c71a27;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
header{
    background: var(--red);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    transition: top 0.8s;
}

nav{
    position: absolute;
    text-align: left;
    top:100%;
    background: var(--red);
    width: 100%;
    left: 0;
    /* display: none; */
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
}

nav a {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

nav a:hover{
    color: rgba(255,255,255,0.5);
}

.dell-icon{
    width: 80px;
    height: 80px;
}

.nav-toggle:checked ~ nav{
    display: block;
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity .25s ease-in-out .25s;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    
    display: flex;
    align-items: center;
    margin-left:1em;
}

.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before{
    display: block;
    height: 4px;
    width: 2em;
    border-radius: 2px;
    background: black;
}

.nav-toggle-label span::after,
.nav-toggle-label span::before{
    content: "";
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 32px;
}

.nav-toggle-label span::after{
    top: 32px;
}

.first{
    margin-top: 90px;
    color: #fff;
}

.main-text{
    padding: 2em;
}

.main-image{
    padding: 1em;
}

.main-image img{
    width: 100%;
}

@media screen and (min-width:800px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: auto 5fr 1fr; 
    }

    .logo{
        margin-left: 15px;
        grid-column: 1/2;
    }

    nav{
        all:unset;

        display: flex;
        align-items: center;
        grid-column: 2/3;
    }

    nav a{
        opacity: 1;
        margin-bottom: 0;
        margin-left: 3em;
        position: relative;
    }

    nav a::before{
        position: absolute;
        top: -.5em;
        left: 0;
        right: 0;


        content:'';
        display: block;
        height: 5px;
        background: #000;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }

    .first{
        height: 100vh;
        margin: 0;
    }

    .first{
        display: grid;
        grid-template-columns: 120px minmax(300px,600px) auto 600px 120px; 
    }
    
    .main-text{
        grid-column: 2/3;
        align-self: center;
    }

    .main-image{
        grid-column: 4/5;
        align-self: center;
    }

    .main-text h3{
        font-size:2rem;
    }

    .main-text p{
        font-size:1.1rem;
    }
}